// 
// Declarations  
// ========================================================================== 

// 
// Defaults:
// 

$bare-link-color:	 			#00E !default;

/* 
   #links
   ========================================================================== */

/**
 * The links module provides additional styles for links.
 */

a,
a:visited {
	color: $bare-link-color;
}
